.App {
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns:  repeat(3, 1fr);
  height: 300px;
  width: 300px;
}

.square {
  padding: 0;
  height: 100px;
  width: 100px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #999;
  background: #fff;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
}